@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
  /* Eliminar fondo azul dispositivo movil click */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track
::-webkit-scrollbar-track {
  /* background: ; */
/* }  */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #62666d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7c828c;
}

body {
  margin: 0;
  font-family: "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
